@model WebApp.Models.CreditCard

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Notice! Account deletion is not recoverable! </h3>

<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CVV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardHolder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardHolder)
        </dd>
    </dl>
    
</div>

<aside>
    <form asp-action="Delete">
        <input type="hidden" asp-for="CardNum"/>
        <input type="submit" value="Delete" class="btn btn-danger " /> |
        <a asp-action="Index" class="normal-link">Back to List</a>
    </form>
</aside>
