@model WebApp.Models.CreditCard

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CreditCard</h4>
<hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CardNum" />
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardHolder" class="control-label"></label>
                <input asp-for="CardHolder" class="form-control" />
                <span asp-validation-for="CardHolder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>


<div>
    <a asp-action="Index" class="normal-link">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
