@model WebApp.Models.Stock

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Symbol)
        </dt>
    </dl>
</div>
